<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @grade.name %>
</p>

<p>
  <b>Teacher_name:</b>
  <%= @grade.teacher_name %>
</p>



<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
